header {background-image: url("clouds.jpg");
       background-size: 400px;
       padding: 40px 80px;
       margin: -10px;
       color: #ffffff;
       font-family: serif;
       text-align: center;
       }
       
#links {background-color: #fad0e6;
background-size: 100%;
margin: 10px -8px -5px -8px;
padding:3px 0px 5px 0px;}

h3 {text-align: center ;}

body {background-color: #e9f8ff;
color:#601f7d;}
