header {background-image: url("images/clouds.jpg");
       background-size: 400px;
       padding: 40px 80px;
       margin: -10px;
       color: #ffffff;
       font-family: serif;
       text-align: center;
       }
       

h3 {text-align: center ;}

body {background-color: #e9f8ff;
color:#601f7d;}