header {background-image: url("images/clouds.jpg");
       background-size: 400px;
       padding: 40px 80px;
       margin: -10px;
       color: #ffffff;
       font-family: serif;
       text-align: center;
       }

#about {padding-bottom: 22px; 
padding#quote10px;}

#quote {background-color: #fad0e6;
background-size: 100%;
margin: -40px -8px -5px -8px;
padding:0px 0px;}
body {background-color: #e9f8ff;
color:#601f7d;}

.contact {text-align: center;}

.social {img

